:root {
  --arcade-font: sans-serif;
}

body {
    padding: 0;
    margin: auto auto;
    background: #993f70;
    color: #eee;
    text-align: center;
    font-family: var(--arcade-font);
}

#game {
    width: 912px;
    height: 1036px;
    position: relative;
    display: inline-block;
    border: 2px solid black;
    margin-top: 15px;
  }

@media only screen and (min-width: 1000px) {
  #main_content {
    margin: 0 20%;
  }
}

#help_text {
  padding-bottom: 0.5em;
  margin: 0 auto;
}


/* Styling for the popup */
#popupBackground-nama {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#popupContent-nama {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffd33b;
  padding: 20px;
  border-radius: 15px;
  z-index: 10000;
  height: 157px;
  width: 244px;
}

#popupContent-nama h2 {
  margin-top: 0;
}

#nameInput-player {
  width: 100%;
  padding: 12px;
  margin-bottom: 13px;
  border: 2px solid #000;
  border-radius: 5px;
}

#submitNameBtn-game,
#closePopupBtn-nama {
  padding: 10px 15px;
  margin-right: 7px;
  margin-left: 19px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

#closePopupBtn-nama {
  background-color: #DC3545;
}

#closePopupBtn-nama:hover,
#submitNameBtn-game:hover {
  background-color: #10dc60;
  color: black;
  font-weight: bold;
}

/* Additional styling for the content */
.tranding-slide-img {
  position: relative;
}

#playerName {
  font-weight: bold;
}

/* ************ */
/* Styling for the popup */
#popupBackground-nama1 {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 9999;
}

#popupContent-nama1 {
display: none;
position: fixed;
top: 45%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #ffd33b;
padding: 20px;
border-radius: 15px;
z-index: 10000;
height: 157px;
width: 244px;
}

#popupContent-nama1 h2 {
margin-top: 0;
}

#nameInput-player1 {
width: 100%;
padding: 12px;
margin-bottom: 13px;
border: 2px solid #000;
border-radius: 5px;
}

#submitNameBtn-game1,
#closePopupBtn-nama1 {
padding: 10px 15px;
margin-right: 7px;
margin-left: 19px;
border: none;
border-radius: 5px;
background-color: #007BFF;
color: white;
cursor: pointer;
}

#closePopupBtn-nama1 {
background-color: #DC3545;
}

#closePopupBtn-nama1:hover,
#submitNameBtn-game1:hover {
background-color: #10dc60;
color: black;
font-weight: bold;
}

/* Additional styling for the content */
.tranding-slide-img1 {
position: relative;
}

#playerName1 {
font-weight: bold;
}

.nav-logo {
width: 100%;
background-color: darkslategrey;
justify-content: space-between;
display: flex;
padding-top: 8px;
padding-bottom: 8px;
align-items: center;
}

.nav-logo span {
font-size: 3rem;
font-weight: bold;
}

/* .UNI {
color: #ffd33b;
} */
/* Navbar */
.nav-logo img {
width: auto;
height: 60px;

}

/* body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

h1 {
text-align: center;
margin-top: 50px;
} */
/* POP UP */
#openPopupBtn {
display: block;
}

#popupBackground {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
display: none;
}

#popupContent {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #0ce83f;
padding: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
display: none;
z-index: 9999;
border-radius: 20px;
}

#popupContent h2 {
display: flex;
padding: 15px;
justify-content: center;
font-weight: 900;
color: yellow;
}

#closePopupBtn {
display: block;
margin-top: 20px;
margin-left: auto;
}
#closePopupBtn img {
height: 30px;
width: 33px;
padding: 2px;
}
.nav-logo button {
background-color: #ffd33b;
border-radius: 8px;
font-weight: bold;
border-color: #f5f5f5;
height: 30px;
}
.nav-logo button:hover {
background-color: greenyellow;
}
.about-swiper{
display: flex;
font-size: 1.8rem;
flex-direction: column;
align-items: center;
font-weight: 600;
}


/* Welcome & Output */
.userName {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  margin: -20px;
  align-items: center;
  justify-content: center;
}